.blogTitle {
  padding-top: 0px;
  margin: 16px;
  text-decoration: none;
  font-size: 48px;
}

.blogHeader {
  padding-top: 0px;
  margin: 16px;
  text-decoration: none;
  font-size: 24px;
}

p {
  margin: 16px;
  font-size: 20px;
}

.blog-home-page-wrap {
  margin: auto;
  margin-top: 100px;
  width: 56%;
}

.blog-page-wrap {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 60px;
  width: 36%;
  padding: 30px 80px;
  border: 2px solid #b8c2cc;
}

.blogprofile-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 16px;
  margin-top: 64px;
}

.blogprofiletop-grid-container {
  display: flex;
  flex-direction: row;
  margin: 16px;
  margin-top: 64px;
}

.profilePictureTopImg {
  width: 40px;
  height: 48px;
  border-radius: 50%;
  image-orientation: from-image;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.tag-container {
  display: flex;
  flex-direction: row;
}

.codeSnippetImg {
  width: 620px;
}

.failedCommitImg {
  width: 628px;
}

blockquote.classyStyle {
  font: 14px/20px italic Times, serif;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(../images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
}
blockquote.classyStyle span {
  display: block;
  background-image: url(../images/closequote1.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media screen and (max-width: 800px) {
  .tag-container {
    flex-direction: column;
  }
  .blog-home-page-wrap {
    margin: auto;
    margin-top: 100px;
    width: 72%;
  }
  .blog-page-wrap {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100%;
    padding: 8px;
    border: none;
  }

  .codeSnippetImg {
    width: 400px;
  }
  .failedCommitImg {
    width: 392px;
  }
}
