.award-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  justify-content: space-between;
  justify-items: center;
}
.award-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 216px;
  width: 216px;
  background-color: #f3ebff;
  padding: 20px;
  margin: 10px;
  margin-top: 60px;
  margin-bottom: 100px;
  font-size: 16px;
  text-align: center;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-color: #453411;
  border-width: 2px;
  border-radius: 12px;
  transform: rotate(45deg);
}

.award-grid-item-text {
  transform: rotate(-45deg);
}

@media screen and (max-width: 1080px) {
  .award-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
  }
}

@media screen and (max-width: 980px) {
  .award-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 820px) {
  .award-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .award-grid-item {
    height: 200px;
    width: 200px;
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .award-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .award-grid-item {
    height: 180px;
    width: 180px;
    font-size: 12px;
  }
}
