.projects-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.projects-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  background-color: #9561e2;
  padding: 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.2);
  opacity: 80%;
  border-style: solid;
  border-color: #fcfbeb;
  border-width: 2px;
  border-radius: 8px;
}

.projects-grid-item h2 {
  font-size: 28px;
}

.projects-grid-item p {
  font-size: 18px;
}

.projects-grid-item:hover {
  opacity: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #453411;
}

.tool-list {
  color: #fff382;
  font-size: 16px;
}
