.App {
  text-align: center;
}

.App-header {
  background-image: url("../images/header_image.png");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fcfbeb;
}

.NavBar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #794acf;
  z-index: 1;
}

.NavBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Page-wrap {
  margin: auto;
  width: 65%;
}

.Header-btn {
  transition-duration: 0.4s;
  margin-top: 30px;
  padding: 10px;
  font-size: calc(8px + 0.7vw);
  background-color: #ffed4a;
  color: #453411;
  opacity: 0.9;
  border-radius: 12px;
  border-style: solid;
  border-color: #fcfbeb;
  border-width: 2px;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.2);
}

.Header-btn:hover {
  opacity: 1;
  border-style: solid;
  border-width: 2px;
  border-color: #453411;
}

.Intro {
  margin-top: 80px;
  font-size: calc(24px + 1.5vw);
  /* font-size: 3rem; */
}

.Projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #fff;
  padding-bottom: 40px;
}

.Blog-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #f1f5f8;
  padding-bottom: 40px;
}

.Skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #fff;
  padding-bottom: 40px;
}

.Experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #f1f5f8;
  padding-bottom: 40px;
}

.Awards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #fff;
  padding-bottom: 40px;
}

.Involvement-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #f1f5f8;
  padding-bottom: 40px;
}

.involvement-description {
  font-size: 24px;
}

.header-description {
  font-size: calc(16px + 0.7vw);
  /* font-size: 1.75rem; */
}

.homeHeader {
  text-decoration: underline;
  padding-top: 60px;
}

.communityImpactImg {
  margin-right: 30px;
}

@media screen and (max-width: 800px) {
  .communityImpactImg {
    width: 300px;
    margin-right: 0px;
  }
}