.custom-center-image {
  display: flex;
  justify-content: center;
}

.second-picture-container {
  float: left;
  padding-right: 15px;
}

.rounded-corners {
  border-radius: 50%;
}

.left {
  text-align: left;
}

.christy-mcward-picture-container {
  text-align: center;
}

.tom-pagano-picture-container {
  text-align: center;
}

.recommendations-person-picture-container {
  text-align: center;
}

.custom-image-adjust {
  float: left;
  padding-right: 15px;
}

.darker-background {
  background-color: #f8f8f8;
}
.row {
  display: flex;
}

/* Create two equal columns that sit next to each other */
.column {
  flex: 50%;
  padding: 10px;
}

.center-div {
  margin: auto;
  width: 50%;
}
