.custom-center-image {
  display: flex;
  justify-content: center;
}

.second-picture-container {
  float: left;
  padding-right: 15px;
}

.rounded-corners {
  border-radius: 50%;
}

.left {
  text-align: left;
}

.christy-mcward-picture-container {
  text-align: center;
}

.tom-pagano-picture-container {
  text-align: center;
}

.recommendations-person-picture-container {
  text-align: center;
}
