.lauren-with-cat-picture-container {
    float: left;
    padding-right: 15px;
}

.email-icon-picture-container {
    float: left;
    padding-right: 10px;
    color: white;
}

.twitter-icon-picture-container {
    float: left;
    padding-right: 15px;
}

.github-icon-picture-container {
    float: left;
    padding-right: 15px;
}

.linkedin-icon-picture-container {
    float: left;
}