.custom-corners {
    border-radius: 15px;
}

.custom-display {
    display: block;
    text-align: center;
}

.custom-three-image-layout {
    position: relative;
    display: inline-block;
    width: 33.3%;
    padding-right: 20px;
}

.custom-four-image-layout {
    position: relative;
    display: inline-block;
    width: 25%;
    padding-right: 20px;
}

.rectangle-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 100%;
    border-radius: 15px;
}

.square-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 100%;
    border-radius: 15px;
}

.custom-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #b71ef4;
    border-radius: 15px;
}

.custom-text {
    color: white;
    font-size: 20px;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.project-listing-container {
    position: relative; /* make any positioned child elements relative to this */ 
    width: 100%;
}

.project-listing-container:hover .translucent {  
    position: absolute;  
    top: 0; /* Add a top and bottom position so the element */  
    bottom: 0; /* stretches to the height of the parent */  
    left: 0;
    width: 100%;
    background-color: #b71ef4;  
    opacity: 0.9;  
    -moz-opacity: 0.3;  
    filter: alpha(opacity=30);  
    transition: .5s ease;
    border-radius: 15px;
}  

.project-listing-description {
    opacity: 0;
}

.project-listing-container:hover .project-listing-description {
    opacity: 1;
}