.left {
    text-align: left;
}

.circuit-maker-picture-container {
    float: left;
    padding-right: 20px;
}

.pictionary-cheat-picture-container {
    float: left;
    padding-right: 20px;
}

.portfolio-website-picture-container {
    float: left;
    padding-right: 20px;
}

.autoit-scripts-picture-container {
    padding-right: 20px;
}

.girls-who-code-lawrence-picture-container {
    float: left;
    padding-right: 20px;
}

.kc-steminists-picture-container {
    float: left;
    padding-right: 20px;
}

.jccc-computer-club-picture-container {
    padding-right: 20px;
}

.girls-just-want-to-have-fun-coding-picture-container {
    float: left;
    padding-right: 20px;
}

.aauw-women-leadership-picture-container {
    float: left;
    padding-right: 20px;
}

.jccc-honors-symposium-picture-container {
    float: left;
    padding-right: 20px;
}

.ptk-safehome-picture-container {
    padding-right: 20px;
}

.first-robotics-picture-container {
    float: left;
    padding-right: 20px;
}

.girls-who-code-overland-park-picture-container {
    float: left;
    padding-right: 20px;
}

.kc-women-in-tech-picture-container {
    float: left;
    padding-right: 20px;
}

.hackedkc-picture-container {
    padding-right: 20px;
}

.btn {
    background-color: #b71ef4;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }

  .btn:hover {opacity: 1}