html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Gill Sans", "Segoe Print", "Segoe UI", -apple-system,
    BlinkMacSystemFont, "Roboto", "Ubuntu", Sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin-bottom: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Segoe UI", monospace;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 16px;
}

.aTagOnHome {
  text-decoration: none;
  color: #000;
}

.aTagOnNavbar {
  text-decoration: none;
  color: #fff;
}

hr {
  color: #f1f5f8;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #794acf;
  z-index: 1;
}

nav li {
  float: left;
  display: block;
  text-align: center;
  padding: calc(2px + 0.6vw) calc(4px + 0.6vw);
  text-decoration: none;
  font-size: calc(16px + 0.4vw);
}

nav a {
  color: #f2f2f2;
}
